$blue-700: #29598F;
$blue-600: #185993;
$blue-300: #53A9C3;
$blue-200: #2BABC6;
$blue-50: #E9F6F9;

$pink-700: #CA726F;
$pink-600: #D76C6C;
$pink-50: #FFE1E0;

$grey-700: #5A6268;
$grey-400: #979797;
$grey-300: #A1A3AC;
$grey-50: #EFF0F3;


$yellow-700: #D8B93B;
$yellow-50: #FBF7E1;

$green-700:#46A77C;